body {
background-color: lightgray;
}
h1 {
	color: lightgreen;
	text-align: center;
	font-weight: bold;
}
img {
	border: 15px solid green;
	max-width: 40%; 
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
h2 {
	color: darkblue;
}
p {
	color: white;
}
.normalWeight {
	font-weight: normal;
}
.normalStyle {
	font-style: normal;
}

.blue {
	color: #157fb0;
	font-size: 26px;
}
.arial {
	font-family: "Arial";
}
p span {
	font-weight: bold;
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.orange {
	color: orange;
}
.yellow {
	color: yellow;
}
table {
	background-color: lightgreen;
	position: absolute;
	right: 0px;
	box-sizing: border-box;
	padding: 2px;
}
table, tr, th, td {
	border: 1px solid black;
}